$isover : url('/slides/img100.jpg');

html {
    height: 100%;
}
body {
    margin:0;
    min-height: 100%;
}
#__next {
    position: absolute;
    padding:5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}